@import '../utilities/variables';

.testimonials-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  @media break {
    flex-direction: row;
  }

  .testimonial {
    background-color: $primary;
    margin: 20px;
    padding: 20px;
  }

  .name {
    color: $secondary;
  }
}
